<!DOCTYPE html>
<html>
  <head>
    <title>Restful API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Restful API</h1>
    <p>Restful API for Learning Management System(LMS)</p>
  </body>
</html>
